<div class="card className">
  <div class="card-header">
    <ul
      class="nav nav-pills card-header-pills justify-content-between align-items-center"
    >
      <li class="nav-item">
        <a class="nav-link">
          <strong class="text-dark">Concerts Booking</strong></a
        >
      </li>
    </ul>
  </div>

  <div class="card-body">
    <form [formGroup]="concertBookingForm">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <label for="fName" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter First Name"
            formControlName="firstName"
            [ngClass]="{
              'is-invalid':
                (f['firstName'].dirty ||
                  f['firstName'].touched ||
                  isSubmitted) &&
                f['firstName'].errors
            }"
          />
          <div
            *ngIf="
              f['firstName'].errors &&
              (f['firstName'].dirty || f['firstName'].touched || isSubmitted)
            "
            class="invalid-feedback"
          >
            <div *ngIf="f['firstName'].errors['required']">
              First Name is required
            </div>
            <div *ngIf="f['firstName'].errors['pattern']">
              Only Accepts Alphabets
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <label for="lName" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Last Name"
            formControlName="lastName"
            [ngClass]="{
              'is-invalid':
                (f['lastName'].dirty || f['lastName'].touched || isSubmitted) &&
                f['lastName'].errors
            }"
          />
          <div
            *ngIf="
              f['lastName'].errors &&
              (f['lastName'].dirty || f['lastName'].touched || isSubmitted)
            "
            class="invalid-feedback"
          >
            <div *ngIf="f['lastName'].errors['required']">
              Last Name is required
            </div>
            <div *ngIf="f['lastName'].errors['pattern']">
              Only Accepts Alphabets
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <label for="lName" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter Email"
            formControlName="email"
            [ngClass]="{
              'is-invalid':
                (f['email'].dirty || f['email'].touched || isSubmitted) &&
                f['email'].errors
            }"
          />
          <div
            *ngIf="
              f['email'].errors &&
              (f['email'].dirty || f['email'].touched || isSubmitted)
            "
            class="invalid-feedback"
          >
            <div
              *ngIf="
                f['email'].errors['email'] || f['email'].errors['required']
              "
            >
              Invalid Email
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 mt-3">
          <label for="mNumber" class="form-label">Mobile Number</label>
          <div class="d-flex">
            <button type="" class="btn border">+91</button>
            <input
              type="number"
              class="form-control"
              placeholder="Enter Your Number"
              formControlName="phoneNumber"
              [ngClass]="{
                'is-invalid':
                  (f['phoneNumber'].dirty ||
                    f['phoneNumber'].touched ||
                    isSubmitted) &&
                  f['phoneNumber'].errors
              }"
            />
            <div
              *ngIf="
                f['phoneNumber'].errors &&
                (f['phoneNumber'].dirty ||
                  f['phoneNumber'].touched ||
                  isSubmitted)
              "
              class="invalid-feedback coustomClass"
            >
              <div *ngIf="f['phoneNumber'].errors['required']">
                Phone Number is required
              </div>
              <div *ngIf="f['phoneNumber'].errors['pattern']">
                Minimun 10 Digit Required
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 mt-3">
          <label for="email" class="form-label">Number of Tickets</label>
          <div class="d-flex align-items-baseline">
            <p class="custom_line btn" (click)="decrement()">
              <strong>-</strong>
            </p>
            <input
              type="text"
              class="form-control custom_input"
              placeholder=""
              formControlName="tickets"
            />

            <p class="custom_line btn" (click)="increment()">
              <strong>+</strong>
            </p>
          </div>
        </div>
      </div>
      <div class="mt-3 btn-class">
        <button class="btn btn-secondary" (click)="onSubmit()">
          Book Your Seat
        </button>
      </div>
    </form>
  </div>
</div>
<app-booking-details #viewBookingDetails></app-booking-details>
