<div class="card className">
  <div class="card-header">
    <ul
      class="nav nav-pills card-header-pills justify-content-between align-items-center"
    >
      <li class="nav-item">
        <a class="nav-link">
          <strong class="text-dark">Concerts Booking</strong></a
        >
      </li>
    </ul>
  </div>

  <div class="card-body">
    <form [formGroup]="concertBookingForm">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <label for="fName" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter First Name"
            formControlName="firstName"
            [ngClass]="{
              'is-invalid':
                (formControlsHandle['firstName'].dirty ||
                  formControlsHandle['firstName'].touched ||
                  isSubmitted) &&
                formControlsHandle['firstName'].errors
            }"
          />
          <div
            *ngIf="
              formControlsHandle['firstName'].errors &&
              (formControlsHandle['firstName'].dirty ||
                formControlsHandle['firstName'].touched ||
                isSubmitted)
            "
            class="invalid-feedback"
          >
            <div *ngIf="formControlsHandle['firstName'].errors['required']">
              First Name is required
            </div>
            <div *ngIf="formControlsHandle['firstName'].errors['pattern']">
              Only Accepts Alphabets
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <label for="lName" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Last Name"
            formControlName="lastName"
            [ngClass]="{
              'is-invalid':
                (formControlsHandle['lastName'].dirty ||
                  formControlsHandle['lastName'].touched ||
                  isSubmitted) &&
                formControlsHandle['lastName'].errors
            }"
          />
          <div
            *ngIf="
              formControlsHandle['lastName'].errors &&
              (formControlsHandle['lastName'].dirty ||
                formControlsHandle['lastName'].touched ||
                isSubmitted)
            "
            class="invalid-feedback"
          >
            <div *ngIf="formControlsHandle['lastName'].errors['required']">
              Last Name is required
            </div>
            <div *ngIf="formControlsHandle['lastName'].errors['pattern']">
              Only Accepts Alphabets
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <label for="lName" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter Email"
            formControlName="email"
            [ngClass]="{
              'is-invalid':
                (formControlsHandle['email'].dirty ||
                  formControlsHandle['email'].touched ||
                  isSubmitted) &&
                formControlsHandle['email'].errors
            }"
          />
          <div
            *ngIf="
              formControlsHandle['email'].errors &&
              (formControlsHandle['email'].dirty ||
                formControlsHandle['email'].touched ||
                isSubmitted)
            "
            class="invalid-feedback"
          >
            <div
              *ngIf="
                formControlsHandle['email'].errors['email'] ||
                formControlsHandle['email'].errors['required']
              "
            >
              Invalid Email
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 mt-3">
          <label for="mNumber" class="form-label">Mobile Number</label>
          <div class="d-flex">
            <button type="" class="btn border">+91</button>
            <input
              appMaskNumber
              type="text"
              class="form-control"
              placeholder="Enter Your Number"
              formControlName="phoneNumber"
              [ngClass]="{
                'is-invalid':
                  (formControlsHandle['phoneNumber'].dirty ||
                    formControlsHandle['phoneNumber'].touched ||
                    isSubmitted) &&
                  formControlsHandle['phoneNumber'].errors
              }"
            />
            <div 
              *ngIf="
                formControlsHandle['phoneNumber'].errors &&
                (formControlsHandle['phoneNumber'].dirty ||
                  formControlsHandle['phoneNumber'].touched ||
                  isSubmitted)
              "
              class="invalid-feedback coustomClass"
            >
              <div *ngIf="formControlsHandle['phoneNumber'].errors['required']">
                Phone Number is required
              </div>
              <div *ngIf="formControlsHandle['phoneNumber'].errors['pattern'] || formControlsHandle['phoneNumber'].errors['minlength']">
                Minimun 10 Digit Required
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 mt-3">
          <label for="email" class="form-label">Number of Tickets</label>
          <div class="d-flex align-items-baseline">
            <p class="custom_line btn" (click)="decrement()">
              <strong>-</strong>
            </p>
            <input
              type="text"
              class="form-control custom_input"
              placeholder=""
              formControlName="tickets"
              (ngModelChange)="getTicketsValue($event)"
              [ngClass]="{
                'is-invalid':
                  (formControlsHandle['tickets'].dirty ||
                    formControlsHandle['tickets'].touched ||
                    isSubmitted) &&
                  formControlsHandle['tickets'].errors
              }"
            
            />
 
          <div
            *ngIf="
              formControlsHandle['tickets'].errors &&
              (formControlsHandle['tickets'].dirty ||
                formControlsHandle['tickets'].touched ||
                isSubmitted)
            "
            class="invalid-feedback coustomInputClass"
          >
            <div *ngIf="formControlsHandle['tickets'].errors['required']">
              Atleast one ticket required
            </div>
          </div>

            <p class="custom_line btn" (click)="increment()">
              <strong>+</strong>
            </p>
          </div>
        </div>
      </div>
      <div class="mt-5 btn-class">
        <button class="btn btn-secondary" (click)="onSubmit()">
          Book Your Seat
        </button>
      </div>
    </form>
  </div>
</div>
<app-booking-details #viewBookingDetails></app-booking-details>
