<div class="card className mt-5">
  <div class="card-header">
    <ul
      class="nav nav-pills card-header-pills justify-content-between align-items-center"
    >
      <li class="nav-item">
        <a class="nav-link">
          <strong class="text-dark">Client Program Details</strong></a
        >
      </li>
    </ul>
  </div>

  <div class="card-body">
    <div class="table-responsive" *ngIf="programDetails">
      <table class="text-center table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">Program Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of programDetails">
            <td>{{ data.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #notfound>
      <h3>Data not found</h3>
    </ng-template>
  </div>
</div>
